.board {
  width: 100vmin;
  height: 100vmin;
  margin: auto;
  border: 1.5vmin ridge rgba(153, 205, 50, 0.658);
  &.tw {
    border-bottom: 1.5vmin ridge orangered;
  }
  &.tb {
    border-top: 1.5vmin ridge orangered;
  }
  &.inCheck {
    box-shadow: 0 0 5px 1500px #f005;
  }
  .row {
    display: flex;
    height: 12.5%;
  }
  .col {
    width: 12.5%;
    color: red;
    font-size: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b {
    background-color: black;
  }
  .w {
    background-color: white;
  }
}

.pointer {
  cursor: pointer;
}
.highlighted {
  position: relative;
  cursor: pointer;
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(red, transparent, transparent);
  }
}
