.board {
  width: 100vmin;
  height: 100vmin;
  margin: auto;
  .row {
    display: flex;
    height: 12%;
  }
  .col {
    width: 12%;
    color: red;
    font-size: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b {
    background-color: black;
  }
  .w {
    background-color: white;
  }
}
