.board {
  width: 100vmin;
  height: 100vmin;
  margin: auto;
  .row {
    display: flex;
    height: 12%;
  }
  .col {
    width: 12%;
    color: red;
    font-size: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b {
    background-color: black;
  }
  .w {
    background-color: white;
  }
}

.pointer {
  cursor: pointer;
}
.highlighted {
  position: relative;
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(red, transparent, transparent);
  }
}
